/*stylesheets from mq, with a little adjustment*/

.brand .second {
	color: #fff;
	font-weight: bold;
}
.nodeStyle {
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.search-toolbar ul{
	list-style-type:none;
	margin-top:10px;  
}
.search-toolbar ul li{
	list-style-type:none;
	float:left;
	margin-left:10px;
}
.search-toolbar ul li input{
	width:150px;
	height:16px;
}

body .layui-layer-self .layui-layer-content{
	background-color:#000000;
}
body .layui-layer-self .layui-layer-btn{
	background-color:#000000;
}
body .layui-layer-self .layui-layer-btn .layui-layer-btn0{
	background:#3a5c7e;
	border:none;
}
body .layui-layer-self .layui-layer-btn .layui-layer-btn1{
	background:#805e5e;
	color:#ffffff;
	border:none;
}

.sidebar-nav.right{
  width: 125px;
  position: fixed;
  top:0px;
  right:20px;
  border-top: none;
  border-left: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  margin: 0em 6px;
}
.sidebar-nav.right .nav-list {
  text-align: center;
  background: #fbfbfb;
}
.sidebar-nav.right .nav-list  > li > div {
  color: #000;
  text-shadow: none;
  padding: .5em 1em;
}